language: generic

sudo: required

services:
  - docker

before_install:
  - docker build -t gentlemj/todolist-app -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true gentlemj/todolist-app npm run test

after_success:
  - docker build -t gentlemj/docker-client ./client
  - docker build -t gentlemj/docker-server ./server
  - docker build -t gentlemj/docker-nginx ./nginx

  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_ID" --password-stdin

  - docker push gentlemj/docker-client
  - docker push gentlemj/docker-server
  - docker push gentlemj/docker-nginx
deploy:
  provider: elasticbeanstalk
  region: "ap-northeast-2"
  app: "docker-fullstack-app"
  env: "DockerFullstackApp-env"
  bucket_name: elasticbeanstalk-ap-northeast-2-297348835951
  bucket_path: "docker-fullstack-app"
  on:
    branch: master

  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_ACCESS_KEY
